{% extends 'base.html' %}

{% block title%} Customer Login {% endblock %}

{% block content %}
<style>
	.errorlist{
		color: red;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h3>Customer Login Form</h3><hr>
			<form method="POST" action="">
				{% csrf_token %}
				{{form.as_p}}
				<button class="btn btn-primary">Login as a customer</button>
				{% if error %}
				<li style="color: red;">{{error}}</li>
				{% endif %}
			</form>
			<p>Forget Password <a href="{% url 'ecomapp:passwordforgot' %}">Reset now.</a></p>
			<p>or don't have an account <a href="{% url 'ecomapp:customerregistration' %}{% if request.GET.next%}?next={{request.GET.next}}{% endif %}">Register here</a></p>
		</div>
	</div>
</div>

{% endblock %}