{% extends 'base.html' %}

{% block title %} My Profile {% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3>Detail Information</h3>
			<p><span><b>Name:</b></span>{{customer.full_name}}</p>
			<p><span><b>Username:</b></span>{{customer.user.username}}</p>
			<p><span><b>Email:</b></span>{{customer.user.email}}</p>
			<p><span><b>Address:</b></span>{{customer.address}}</p>
			<p><span><b>Joined on:</b></span>{{customer.joined_on}}</p>
		</div>
		<div class="col-md-8">
			<h3>Previous Order</h3>
			<hr>
			<table class="table">
				<thead>
					<tr>
						<th>SN</th>
						<th>Order Id</th>
						<th>Amount</th>
						<th>Order On</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					{% for ord in orders %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td><a href="{% url 'ecomapp:customerorderdetail' ord.pk %}">#ORDER_{{ord.id}}</a></td>
						<td>{{ord.total}}</td>
						<td>{{ord.created_at | timesince}} ago</td>
						<td>{{ord.order_status}}</td>
						
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}